/* COLORES */
/* oscuro */
/* #0C3B5A */
/* claro */
/* #1A84CB */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 50px
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #0C3B5A;
}

.App{
  min-height: 100vh;
  position: relative
}

header {
  height: 60px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px -6px #6c6c6c;
}

.logo:hover {
  transform: scale(1.01);
}

nav ul {
  list-style-type: none;
}

nav ul li a,
a {
  text-decoration: none;
  color: #0c3b5a;
}

nav ul li a:hover {
  color: #1A84CB;
  text-decoration: none;
}

.listItem {
  float: left;
  margin: auto 40px;
  font-weight: bold;
  font-size: 18px;
}

.info {
  text-align: center;
  margin: 20px;
}

.contenedor {
  display:flex;
  justify-content: space-evenly;
  padding: 30px;
}

.img-normalizada{
width: 250px;
height: 250px;
object-fit: cover;
  margin-left: 20px;
}

button {
  background-color: #1A84CB;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #0c3b5a;
  color: #fff;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0
}

.AddTipoAlojamientoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CONTACTO */

.contacto {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
}

.contacto h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.contacto h3 {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.contacto ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: fit-content;
  margin: auto;
}

.contacto ul li {
  margin-bottom: 15px;
}

.contacto ul li a {
  /* color: #1A84CB; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #00000074; 
  border-radius: 5px;
  white-space: nowrap;
}

.contacto ul li a:hover {
  background-color: #1A84CB;
  color: #fff;
}

.contacto ul li img.socialIcon {
  margin-right: 10px;
}

/* BUSQUEDA */
.search-form {
  /* text-align: center; */
  margin: 50px auto;
  max-width: 800px;
}

.search-form h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 40px;
}

/* .search-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .search-form label {
  margin-bottom: 10px;
}

.search-form input[type="text"],
.search-form input[type="date"],
.search-form input[type="number"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
 */
.search-form button {
  background-color: #1A84CB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #0C3B5A;
}

/* NOSOTROS */

.empleado {
  text-align: center;
}

.empleado p {
  margin-bottom: 0;
}

.empleado img {
  border-radius: 50%;
  margin-bottom: 0;
}

/* HOME */
.typeImg {
  text-align: center;
}

.typeImg:hover {
  text-decoration: none; 
}